/*---header part---*/

.header {
  overflow: hidden;
  background-color:rgb(0, 0, 255);
  position: fixed;
  top:0;
  left:0;
  width:100%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px 12px;
  line-height: 25px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

.header a:hover {
  background-color: #dddddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header img {
  float: left;
  width: 50px;
  height: 50px;
}

/* --- body --- */

body {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  
}

section {
  height: 70vh;
  width: 100%;
}

/* --- content (email/feature/video/product) --- */

.newsletter {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.ideas {
  background-color:midnightblue;
  color: aliceblue;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:chocolate;
  height: 70vh;
  width: 100%;
}

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.specification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

.largeBox {
  border: 2px solid black;
  height: fit-content;
  width: fit-content;
  margin: 40px 20px;
  
}

.largeBox img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.largeBox p {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
}

#disclaimer {
  overflow:hidden;
  background-color:skyblue;
  bottom: 0;
  width: 100%;
}


#disclaimer a {
  float:right;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
}

@media screen, (max-width: 1920) and(max-height: 1080) {

  .newsletter {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 70vh;
    width: 100%;
  }
  
  .ideas {
    background-color:midnightblue;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 70vh;
    width: 100%;
  }
  
  .video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:chocolate;
    height: 70vh;
    width: 100%;
  }
  
  .showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
  
  .specification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    width: 100%;
  }
  
  .largeBox {
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    margin: 40px 20px;
    
  }
  
  .largeBox img {
    width: 200px;
    height: 200px;
    align-self: center;
  }
  
  .largeBox p {
    font-size: 12px;
    font-family: "Nunito", sans-serif;
  }
  
  #disclaimer {
    overflow:hidden;
    background-color:skyblue;
    bottom: 0;
    width: 100%;
  }
  
  
  #disclaimer a {
    float:right;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
  }

}

